<div class="ui two column stackable centered grid">
  <div class="column">
    <div class="ui header"><%= t ".resend_confirm" %></div>

    <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, class: "ui segment form"} do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, t(".email") %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit t(".resend_confirm"), class: "ui primary button" %>
      </div>
    <% end %>
  </div>
</div>
