<%= semantic_form_for [:admin, @song] do |f| %>
  <%= f.inputs do %>
    <%= f.input :track_no %>
    <%= f.input :name %>
    <%= f.input :artist %>
    <%= f.input :album %>
    <%= f.input :categories %>
    <%= f.input :file, as: :file %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel">
      <% if action_name == "edit" %>
        <%= link_to t(".cancel"), admin_song_path(@song) %>
      <% else %>
        <%= link_to t(".cancel"), admin_songs_path %>
      <% end %>
    </li>
    <li class="cancel">
      <% if f.object.file.present? %>
        <%= link_to t(".delete_attachment"),
          song_attachment_path(f.object),
          method: :delete,
          data: {confirm: t("delete_confirm")} %>
      <% end %>
    </li>
  <% end %>
<% end %>
