<% if current_user.subscriptions.count.positive? %>
  <table class="highlight">
    <thead>
      <tr>
        <th><%= t ".package" %></td>
        <th><%= t ".expired_at" %></td>
        <th><th>
      </tr>
    </thead>
    <tbody>
      <% current_user.subscriptions.each do |subscription| %>
        <tr>
          <td><%= subscription.package.name %></td>
          <td><%= subscription.expired_at %></td>
          <td>
            <% unless subscription.initialized? %>
              <% if subscription.payment_pending? %>
                <%= link_to t(".continue_payment"),
                  edit_account_subscription_payment_path(subscription, subscription.payments.pending.last) %>
              <% else %>
                <%= link_to t(".continue_payment"),
                  new_account_subscription_payment_path(subscription) %>
              <% end %>
            <% else %>
              <% unless subscription.expired? %>
                <%= link_to t(".extend"),
                  new_account_subscription_payment_path(subscription) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% unless current_user.subscribed? %>
  <p class="center-align">
  <%= link_to new_account_payment_path, class: "waves-effect waves-light btn-large blue" do %>
    <i class="material-icons right">cloud</i>
    <%= t ".subscribe" %>
  <% end %>
  </p>
<% end %>
