<header>
  <nav class="blue-grey darken-3 z-depth-2" id="nav-header-page">
    <div class="container" id="customize-home-container">
      <div class="nav-wrapper">
        <%= link_to image_tag('logo.png'), root_path, class: 'brand-logo' %>

        <ul class="right hide-on-med-and-down">
          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">queue_music</i>
                </li>
                <li class="li-list-item-header"><%= t ".my_music" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">stars</i>
                </li>
                <li class="li-list-item-header"><%= t ".top_100" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">subject</i>
                </li>
                <li class="li-list-item-header"><%= t ".subject" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">album</i>
                </li>
                <li class="li-list-item-header"><%= t ".album" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">library_music</i>
                </li>
                <li class="li-list-item-header"><%= t ".article" %></li>
              </a>
            </ul>
          </li>

          <% if !user_signed_in? %>
              <li class="li-list-item-top-menu">
                <ul class="ul-list-item-header">
                  <%= link_to new_user_registration_path, class: 'link-to-item-header' do %>
                      <li class="li-list-item-header">
                        <i class="material-icons md-24 icons-task-header-menu">person_add</i>
                      </li>
                      <li class="li-list-item-header">
                      <%= t ".sign_up" %>
                      </li>
                  <% end %>
                </ul>
              </li>

              <li class="li-list-item-top-menu">
                <ul class="ul-list-item-header">
                  <%= link_to new_user_session_path, class: 'link-to-item-header' do %>
                      <li class="li-list-item-header">
                        <i class="material-icons md-24 icons-task-header-menu">lock</i>
                      </li>
                      <li class="li-list-item-header">
                      <%= t ".login" %>
                      </li>
                  <% end %>
                </ul>
              </li>
          <% else %>
              <li>
                <a class="dropdown-button valign-wrapper" href="#" data-activates="dropdown1">
                  <%= link_to current_user.name, account_path %>
                  <i class="material-icons md-36">arrow_drop_down</i>
                </a>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete, title: t(".logout") do %>
                    <i class="material-icons md-36" id="logout-button">settings_power</i>
                <% end %>
              </li>

          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>
