<p><%= t ".hello", email: @resource.email %></p>

<p><%= t ".paraghraph1" %></p>

<p><%= link_to t(".content_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".paraghraph2" %></p>
<p><%= t ".paraghraph3" %></p>
