<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui container">
      <%= render "layouts/header"%>
      <div class="row">
        <% flash.each do |message_type, message| %>
          <div class="col-md-12">
            <div class="<%= flash_class message_type %> closable">
              <i class="close icon"></i>
              <%= message %>
            </div>
          </div>
        <% end %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
